<html>
  <head>
    {{ content_for_header }}
    <title>Taqi 2026 store</title>
    <script src="{{ 'main.js' | asset_url }}" type="module" defer></script>
  </head>
  <body>
    {% sections 'header-group' %}
    <h1>Different Layout</h1>
    {{ content_for_layout }}
  </body>
</html>
